<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.application.dnsehd.dao.EventDAO">
	
	<select id="selectEventList" resultType="EventDTO">
		SELECT	*
		FROM 	EVENT
	</select>
	
	<select id="selectClassList" parameterType="int" resultType="ClassDTO">
		SELECT 	CLASS_NO, CLASS_NM, CLASS_PRICE
		FROM 	CLASS
	</select>
	
	<insert id="insertEvent" parameterType="EventDTO">
		INSERT INTO EVENT (
			EVENT_TITLE,
			EVENT_CONTENT,
			EVENT_COST,
			EVENT_START_DT,
			EVENT_END_DT,
			CLASS_NO,
			ADMIN_ID
		)
		VALUES (
			#{eventTitle},
			#{eventContent},
			#{eventCost},
			#{eventStartDt},
			#{eventEndDt},
			#{classNo},
			#{adminId}
		)
	</insert>
	
	<select id="selectEventDetail" parameterType="int" resultType="EventDTO">
		SELECT	*
		FROM		EVENT
		WHERE 	EVENT_NO = #{eventNo}
	</select>
	
	<update id="updateEvent" parameterType="EventDTO">
		UPDATE	EVENT
		SET		EVENT_TITLE = #{eventTitle},
				EVENT_CONTENT = #{eventContent},
				EVENT_COST = #{eventCost},
				EVENT_START_DT = #{eventStartDt},
				EVENT_END_DT = #{eventEndDt}
		WHERE 	EVENT_NO = #{eventNo}
	</update>
	
	<delete id="deleteEvent" parameterType="int">
		DELETE FROM 	EVENT
		WHERE		EVENT_NO = #{eventNo}	
	</delete>
	
	<select id="selectTeacherDetail" resultType="teacherDTO">
		SELECT 	TEACHER_NM, TEACHER_CAREER
		FROM		TEACHER
	</select>
	
	<select id="selectClassDetail" resultType="ClassDTO" parameterType="int">
		SELECT	C.*
		FROM 	CLASS C JOIN EVENT E ON C.CLASS_NO = E.CLASS_NO
		WHERE 	E.EVENT_NO = #{eventNo}
	</select>
	
</mapper>