<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.application.dnsehd.dao.ReviewDAO">

	<insert id="insertReview" parameterType="ReviewDTO">
		INSERT INTO REVIEWS (
			REVIEW_TITLE,
			REVIEW_CONTENT,
			REVIEW_SCORE,
			REVIEW_DT,
			MEMBER_ID
		)
		VALUES (
			#{reviewTitle},
			#{reviewContent},
			#{reviewScore},
			now(),
			#{memberId}
		)
	</insert>
	
	<select id="selectReviewList" resultType="ReviewDTO">
		SELECT 
				*
		FROM
				REVIEWS
	</select>
	
	<select id="selectReviewDetail" parameterType="int" resultType="ReviewDTO">
		SELECT
				*
		FROM
				REVIEWS
		WHERE
				REVIEW_NO = #{reviewNo}
	</select>
	
	<select id="selectMyReviewList" parameterType="String" resultType="ReviewDTO">
		SELECT
				*
		FROM
				REVIEWS
		WHERE
				MEMBER_ID = #{memberId}
	</select>
	
	<update id="updateMyReview" parameterType="ReviewDTO">
		UPDATE
				REVIEWS
		SET
				REVIEW_TITLE = #{reviewTitle},
				REVIEW_CONTENT = #{reviewContent},
				REVIEW_DT = now(),
				MEMBER_ID = #{memberId}
		WHERE
				REVIEW_NO = #{reviewNo}
	</update>
	
	<delete id="deleteReview" parameterType="int">
		DELETE FROM
				REVIEWS
		WHERE
				REVIEW_NO = #{reviewNo}
	</delete>

</mapper>