<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.application.dnsehd.dao.SportDAO">
	
	<select id="selectClassList" resultType="SportDTO">
		SELECT 	*
		FROM	SPORT
	</select>
	
	<insert id="insertClass" parameterType="SportDTO">
		INSERT INTO SPORT (
			SPORT_NM,
			SPORT_CONTENT,
			SPORT_PRICE,
			SPORT_TIME,
			SPORT_CATEGORY,
			SPORT_LIMIT,
			ADMIN_ID
		)
		VALUES (
			#{sportNm},
			#{sportContent},
			#{sportPrice},
			#{sportTime},
			#{sportCategory},
			#{sportLimit},
			#{adminId}
		)
	</insert>
	
	<select id="selectClassDetail" parameterType="int" resultType="SportDTO">
		SELECT	*
		FROM 	SPORT
		WHERE	SPORT_NO = #{sportNo}
	</select>
	
	<update id="updateClass" parameterType="SportDTO">
		UPDATE	SPORT
		SET		SPORT_NM = #{sportNm},
				SPORT_CONTENT = #{sportContent},
				SPORT_PRICE = #{sportPrice},
				SPORT_TIME = #{sportTime},
				SPORT_CATEGORY = #{sportCategory},
				SPORT_LIMIT = #{sportLimit}
		WHERE 	SPORT_NO = #{sportNo}
	</update>
	
	<delete id="deleteClass" parameterType="int">
		DELETE FROM SPORT
		WHERE 		SPORT_NO = #{sportNo}
	</delete>
		
</mapper>