<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.application.dnsehd.dao.TeacherDAO">

	<select id="getAllTeacherCnt" parameterType="String" resultType="int">
		<choose>
			<when test='searchWord.equals("")'>
				SELECT
						COUNT(*)
				FROM
						TEACHER
			</when>
			<otherwise>
				SELECT
						COUNT(*)
				FROM 
						TEACHER
				WHERE
						TEACHER_NM LIKE CONCAT('%',#{searchWord},'%')
			</otherwise>
		</choose>
	</select>
	
	<insert id="insertTeacher" parameterType="TeacherDTO">
		INSERT INTO TEACHER (
				TEACHER_NO,
				TEACHER_NM,
				TEACHER_BIRTH,
				TEACHER_HP,
				TEACHER_CAREER,
				TEACHER_INTRO,
				ADMIN_ID
		)
		VALUES (
				#{teacherNo},
				#{teacherNm},
				#{teacherBirth},
				#{teacherHp},
				#{teacherCareer},
				#{teacherIntro},
				#{adminId}
		)
	</insert>

	<select id="selectAdminTeacherList" resultType="TeacherDTO">
		SELECT
				*
		FROM
				TEACHER
	</select>

	<select id="selectTeacherList" parameterType="hashmap" resultType="TeacherDTO">
		<choose>
			<when test='searchWord.equals("")'>
				SELECT
						*
				FROM
						TEACHER
				ORDER BY
						TEACHER_NO DESC
				LIMIT
						#{startTeacherIdx},#{onePageViewCnt}
			</when>
			<otherwise>
				SELECT
						*
				FROM
						TEACHER
				WHERE
						TEACHER_NM LIKE CONCAT('%' , #{searchWord} , '%')
				ORDER BY
						TEACHER_NO DESC
				LIMIT
						#{startTeacherIdx},#{onePageViewCnt}
			</otherwise>
		</choose>
	</select>
	
	
	<select id="selectTeacherDetail" parameterType="int" resultType="TeacherDTO">
		SELECT
				*
		FROM
				TEACHER
		WHERE
				TEACHER_NO = #{teacherNo}
	</select>
	
	
	<update id="updateTeacher" parameterType="teacherDTO">
		UPDATE
				TEACHER
		SET
				TEACHER_NO = #{teacherNo},
				TEACHER_NM = #{teacherNm},
				TEACHER_BIRTH = #{teacherBirth},
				TEACHER_HP = #{teacherHp},
				TEACHER_CAREER = #{teacherCareer},	
				TEACHER_INTRO = #{teacherIntro}		
		WHERE
				TEACHER_NO = #{teacherNo}
	</update>
	
	
	<delete id="deleteTeacher" parameterType="int">
		DELETE FROM
				TEACHER
		WHERE
				TEACHER_NO = #{teacherNo}
	</delete>

	<insert id="insertTeacherDummy">
		INSERT INTO TEACHER (
				TEACHER_NM,
				TEACHER_BIRTH,
				TEACHER_HP,
				TEACHER_CAREER,
				TEACHER_INTRO,
				ADMIN_ID
		)
		VALUES
		<foreach collection="list" item="teacherDTO" separator=","> 
			(
				#{teacherDTO.teacherNm},
				#{teacherDTO.teacherBirth},
				#{teacherDTO.teacherHp},
				#{teacherDTO.teacherCareer},
				#{teacherDTO.teacherIntro},
				#{teacherDTO.adminId}
			)	
		</foreach>
	</insert>
	
</mapper>