<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.application.dnsehd.dao.TeacherDAO">

	<insert id="insertTeacher" parameterType="TeacherDTO">
		INSERT INTO TEACHER (
				TEACHER_NO,
				TEACHER_NM,
				TEACHER_BIRTH,
				TEACHER_HP,
				TEACHER_CAREER,
				ADMIN_ID
		)
		VALUES (
				#{teacherNo},
				#{teacherNm},
				#{teacherBirth},
				#{teacherHp},
				#{teacherCareer},
				#{adminId}
		)
	</insert>



</mapper>